{
  "presets": ["@babel/env", "@babel/react"],
  "plugins": ["add-react-displayname", "@babel/plugin-syntax-dynamic-import", "emotion"],
  "env": {
    "test": {
      "plugins": ["dynamic-import-node", "@babel/plugin-transform-runtime"]
    }
  }
}